/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Espaçamento entre os itens */
  padding: 20px;
}

.products > .product {
  flex: 1 1 calc(33.33% - 40px); /* Cada produto ocupa um terço do contêiner menos a margem */
  margin: 10px; /* Espaçamento entre os produtos */
  box-sizing: border-box; /* Inclui padding e border no tamanho total do produto */
}
