.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product h3 {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
  }
  
  .product p {
    margin: 5px 0;
    text-align: center;
  }
